/**
 * Drupal overrides, styles for changed markup
 * caused by overriding theme functions
 */

/**
 *  ==========================================================================
 *  Feed Icon
 *  ==========================================================================
 */

.feed a.feed-icon{
  background: url(/misc/feed.png) transparent;
  width: 16px;
  height: 0;
  padding-bottom: 16px;
  line-height: 0;
  text-indent: -9999em;
  display: block;
  outline: 0;
}

/**
 *  ==========================================================================
 *  File Icons
 *  ==========================================================================
 */

.file a div.file-icon {
  background: url(/modules/file/icons/text-plain.png) no-repeat 0 2px transparent;
  width: 16px;
  height: 18px;
  margin-right: 8px;
  vertical-align: sub;
  line-height: 0;
  display: inline-block;
  text-indent: -999em;
}

.file a.mime-application-pdf div.file-icon {
  background: url(/modules/file/icons/application-pdf.png) no-repeat 0 2px transparent;
}
.file a.mime-application-octet-stream div.file-icon {
  background: url(/modules/file/icons/application-octet-stream.png) no-repeat 0 2px transparent;
}
.file a.mime-application-x-executable div.file-icon {
  background: url(/modules/file/icons/application-x-executable.png) no-repeat 0 2px transparent;
}
.file a.mime-audio-x-generic div.file-icon {
  background: url(/modules/file/icons/audio-x-generic.png) no-repeat 0 2px transparent;
}
.file a.mime-image-x-generic div.file-icon {
  background: url(/modules/file/icons/image-x-generic.png) no-repeat 0 2px transparent;
}
.file a.mime-package-x-generic div.file-icon {
  background: url(/modules/file/icons/package-x-generic.png) no-repeat 0 2px transparent;
}
.file a.mime-text-html div.file-icon {
  background: url(/modules/file/icons/text-html.png) no-repeat 0 2px transparent;
}
.file a.mime-text-plain div.file-icon {
  background: url(/modules/file/icons/text-plain.png) no-repeat 0 2px transparent;
}
.file a.mime-text-x-generic div.file-icon {
  background: url(/modules/file/icons/text-x-generic.png) no-repeat 0 2px transparent;
}
.file a.mime-text-x-script div.file-icon {
  background: url(/modules/file/icons/text-x-script.png) no-repeat 0 2px transparent;
}
.file a.mime-video-x-generic div.file-icon {
  background: url(/modules/file/icons/video-x-generic.png) no-repeat 0 2px transparent;
}
.file a.mime-x-office-document div.file-icon {
  background: url(/modules/file/icons/x-office-document.png) no-repeat 0 2px transparent;
}
.file a.mime-x-office-presentation div.file-icon {
  background: url(/modules/file/icons/x-office-presentation.png) no-repeat 0 2px transparent;
}
.file a.mime-x-office-spreadsheet div.file-icon {
  background: url(/modules/file/icons/x-office-spreadsheet.png) no-repeat 0 2px transparent;
}

/**
 *  ==========================================================================
 *  Table Sort Icons
 *  ==========================================================================
 */

.table-order-asc, .table-order-desc{
  width: 16px;
  height: 16px;
  float: right;
}
.table-order-asc{
  background: transparent url(/misc/arrow-asc.png) no-repeat center top;
}
.table-order-desc{
  background: transparent url(/misc/arrow-desc.png) no-repeat center top;
}

/*
 * Main stylesheet only some basic styling to visualize regions
 */

#page-wrapper {
  background-color: #EEE;
}
#page {
  max-width: 950px;
  padding: 5px;
  margin: 0 auto;
  background-color: #F6F6F6;
}
#toolbar,
#header,
#navigation,
#highlighted,
#content,
#sidebar-first,
#sidebar-second,
#footer-navigation .section-first,
#footer-navigation .section-second,
#footer-navigation .section-third,
#footer-navigation .section-fourth,
#footer {
  border: 1px dashed #0ef;
  margin-bottom: 1.5em;
  background-color: #FFF;
  padding: 0.5em;
  min-height: 2em;
  position: relative;
}

#toolbar:after {
  content: 'toolbar';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#header:after {
  content: 'header';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#navigation:after {
  content: 'navigation';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#highlighted:after {
  content: 'highlighted';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#content:after {
  content: 'content';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#sidebar-first:after {
  content: 'sidebar-first';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#sidebar-second:after {
  content: 'sidebar-second';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#footer-navigation .section-first:after {
  content: 'footer-first';
      color: #0CD;
      font-size: 80%;
      position: absolute;
      top: 5px;
      right: 5px;
}
#footer-navigation .section-second:after {
  content: 'footer-second';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#footer-navigation .section-third:after {
  content: 'footer-third';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#footer-navigation .section-fourth:after {
  content: 'footer-fourth';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
#footer:after {
  content: 'footer';
  color: #0CD;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 5px;
}
