//
// Stylesheet for reset, typography and all elements to be shown or used in wysiwyg
//

@import 'base';

// bootstrap mixin
@import 'mixins';

// snowcrash utilities and mixins
@import 'utilities';

// bootstrap reset
@import 'reset';

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: $base-font;
  color: $textColor;
}

#skip-to-nav {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// =============================================================================
// Headings
// =============================================================================

// www.aestheticallyloyal.com/public/optimize-legibility/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  @include headline-h1;
}

h2 {
  @include headline-h2;
}

h3 {
  @include headline-h3;
}

// The title of the page
// Block title or the title of a piece of content when it is given in a list of content
// Comment title
h1.title,
h2.title,
h3.title {
  margin: 0;
}
h1.title {
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  font-family: $deco-font;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

// =============================================================================
// Block-level elements
// =============================================================================

p,
dl,
pre,
table,
fieldset {
  margin: 1.5em 0;
}

// =============================================================================
// Lists
// =============================================================================

// Drupal overrides
.block ul,
.item-list ul {
  margin: 1.5em 0;
  padding: 0 0 0 2.5em; /* LTR */
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}
// =============================================================================
// special links
// =============================================================================

li a.active,
a.active,
a:active {
  color: $linkColorActive;
}

a.more-link {
  color: $linkColorHover;
  text-decoration: none;
}

a.more-link:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

// =============================================================================
// Tables
// =============================================================================

td p,
th p {
  margin: 0;
}

th {
  padding: 0.2em 0.6em;
}

tbody {
  border-top: none;
}

thead {
}

tfoot {
}

caption {
}

colgroup {
}

col {
}

tr {
}

td {
  padding: 0.2em 0.6em;
  border: 0;
}

tr th:first-child,
tr td:first-child {
  padding-left: 0;
}
tr th.last-child,
tr td.last-child,
tr th:last-child,
tr td:last-child {
  padding-right: 0;
}

// =============================================================================
// editor styles
// =============================================================================

.image-left {
  float: left;
  margin: 0 1em 0.7em 0;
}
.image-right {
  float: right;
  margin: 0 0 0.7em 1em;
}

