//
// Main stylesheet containing layout and style overrides
// =============================================================================

@import "base";

// Bootstrap imports
// -----------------------------------------------------------------------------

// Core variables and mixins
//@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";

// CSS Reset
@import "reset";

// Grid system and page structure
@import "scaffolding";
@import "grid";
@import "layouts";

// Base CSS
@import "type";
@import "code";
@import "forms";
@import "tables";

// Components: common
@import "sprites";
@import "dropdowns";
@import "wells";
@import "component-animations";
@import "close";

// Components: Buttons & Alerts
@import "buttons";
@import "button-groups";
@import "alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "navs";
@import "navbar";
@import "breadcrumbs";
@import "pagination";
@import "pager";

// Components: Popovers
// @import "modals";
// @import "tooltip";
// @import "popovers";

// Components: Misc
// @import "thumbnails";
// @import "labels-badges";
// @import "progress-bars";
// @import "accordion";
// @import "carousel";
// @import "hero-unit";

// RESPONSIVE CLASSES

@import "responsive-utilities";

// MEDIA QUERIES

// Phones to portrait tablets and narrow desktops
@import "responsive-767px-max";

// Tablets to regular desktops
@import "responsive-768px-979px";

// Large desktops
@import "responsive-1200px-min";


// RESPONSIVE NAVBAR

// From 979px and below, show a button to toggle navbar contents
@import "responsive-navbar";

// =============================================================================
// 0. Utilities, mixins
// =============================================================================

// mixins and helper classes
@import "utilities";


// =============================================================================
// 1. Layout
// =============================================================================

// use this for visible grid columns
$gridDebug : true;

// this is needed for semantic grid and push and pull operations
// calculate width of column including gutter for push and pull mixins
$col_total_width: ($gridColumnWidth + $gridGutterWidth);
.span-responsive {
	position: relative;
}

@media (max-width: 768px) {
	body.no-sidebars #content {
		@extend .span12;
		width: auto;
	}
	body.one-sidebar #content {
		@extend .span9;
		width: auto;
	}
	$col_total_width: 62px;
	body.two-sidebars #content,
	body.sidebar-first #content {
		width: auto;
		@include push(0);
	}
	body.one-sidebar #sidebar-first {
		width: auto;
		@include pull(0);
	}
	body.two-sidebars #sidebar-first {
		width: auto;
		@include pull(0);
	}
	#sidebar-second {
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body.no-sidebars #content {
		@extend .span12;
	}

	body.one-sidebar #content {
		@extend .span9;

	}
	body.two-sidebars #content {
		@extend .span6;
	}
	$col_total_width: 62px;
	body.two-sidebars #content,
	body.sidebar-first #content {
		@include push(3);
	}
	body.one-sidebar #sidebar-first {
		@extend .span3;
		@include pull(9);
	}
	body.two-sidebars #sidebar-first {
		@extend .span3;
		@include pull(6);
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	body.no-sidebars #content {
		@extend .span12;
	}

	body.one-sidebar #content {
		@extend .span9;

	}
	body.two-sidebars #content {
		@extend .span6;
	}
	$col_total_width: 80px;
	body.two-sidebars #content,
	body.sidebar-first #content {
		@include push(3);
	}
	body.one-sidebar #sidebar-first {
		@extend .span3;
		@include pull(9);
	}
	body.two-sidebars #sidebar-first {
		@extend .span3;
		@include pull(6);
	}
}
@media (min-width: 1200px) {
	body.no-sidebars #content {
		@extend .span12;
	}

	body.one-sidebar #content {
		@extend .span9;

	}
	body.two-sidebars #content {
		@extend .span6;
	}
	$col_total_width: 100px;
	body.two-sidebars #content,
	body.sidebar-first #content {
		@include push(3);
	}
	body.one-sidebar #sidebar-first {
		@extend .span3;
		@include pull(9);
	}
	body.two-sidebars #sidebar-first {
		@extend .span3;
		@include pull(6);
	}
}
#sidebar-second {
	@extend .span3;
}
[class*="span"] {
	@if $gridDebug {
    outline: 1px dotted #595;
    background: #EEE;
  }
}

img[height] {
	max-width: none;
}

// =============================================================================
// 2. Drupal default styles
//    bundled in separate imports
// =============================================================================

@import 'drupal';

// contrib stylesheets

//@import 'dc_panels';

//@import 'snowcrash_forms';

// =============================================================================
// Site specific styles
// =============================================================================



// =============================================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// =============================================================================

@import 'print';
